.main-body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#root {
    display: block !important;
}